@import 'tailwindcss';


.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #ffffff;
  border-width: 4px;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.dark .custom-range::-webkit-slider-thumb {
  background: #cbd5e1;
}

.custom-range::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #ffffff;
  border-width: 4px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.dark .custom-range::-moz-range-thumb {
  background: #cbd5e1;
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: transparent;
  border-radius: 9999px;
}

.range-track {
  background: #e5e7eb;
  height: 4px;
  border-radius: 9999px;
  position: absolute;
  width: 100%;
}
.dark .range-track {
  background: #1f2937;
}

.range-progress {
  background: #4A90E2;
  height: 4px;
  border-radius: 9999px;
}
.dark .range-progress {
  background: #50E3C2;
}

.custom-range::-webkit-slider-thumb {
  border-color: #4A90E2;
}
.dark .custom-range::-webkit-slider-thumb {
  border-color: #50E3C2;
}
.custom-range::-moz-range-thumb {
  border-color: #4A90E2;
}
.dark .custom-range::-moz-range-thumb {
  border-color: #50E3C2;
}
